.authpagediv{
    margin-top: 100px;
}

.loginslogan{
    font-family: 'times new roman', times, serif;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -25px;
}