.navbody {
    background-color: #ff8552;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.6rem;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 10;
    width: 100%;
    height: %;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem 0.8rem;
    /* border-radius: 0.8rem; */
    text-: none;
}

.navseparator {
    color: black
}

a:link {
    text-decoration: none; 
}





