.navbody {
    background-color:#b5c99a;
    text-decoration: none;
    font-family: 'marker felt', cursive;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 100px;
    color: #292C33;
    width: 100%;
    height: %;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    padding: 0.3rem 0.8rem;
    /* border-radius: 0.8rem; */
    text-: none;
}

.navseparator {
    color: black
}

a:link {
    text-decoration: none; 
}





